<div class="post card">
  <div class="card-header">
    <h2 class="card-title">Edit Post</h2>
  </div>
  <form id="edit-post-form" class="card-body">
    <input type="hidden" name="post-id" value="{{post.id}}" />

    <div class="mb-3">
      <label for="post-title" class="form-label">Title</label>
      <input type="text" name="post-title" value="{{post.title}}" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="post-body" class="form-label">Content</label>
      <textarea name="post-body" class="form-control">{{post.body}}</textarea>
    </div>

    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="button" id="delete-btn" class="btn btn-danger">Delete</button>
    </div>
  </form>
</div>

<script src="/js/editPost.js"></script>
